*.pyc
*.o
*.a
.tags
*DS_Store
fab/c/build*
*.dylib
*.pro.user
build-*/*
build
/Makefile
/app/Makefile
/lib/fab/Makefile
/lib/graph/Makefile
/app/moc_*
/app/antimony
/app/sb/
/setup
/app/qrc_gl.cpp
/app/ui_exporting_dialog.h
/app/ui_main_window.h
/app/ui_resolution_dialog.h


*.sublime-workspace

src/fab/tree/v2syntax.lemon.cpp
src/fab/tree/v2syntax.lemon.hpp
src/fab/tree/v2syntax.yy.cpp
src/fab/tree/v2syntax.yy.hpp
lib/fab/v2syntax.lemon.cpp
lib/fab/v2syntax.lemon.hpp
lib/fab/v2syntax.yy.cpp
lib/fab/v2syntax.yy.hpp

.cproject

.project

